body {
	padding: 0;
	margin: 0;
	font-family: 'Inconsolata', Courier, monospace;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
}

h1 {
	font-size: 6rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3.5rem;
}
h4 {
	font-size: 2.7rem;
}

.btn {
	&.btn-lg {
		border-radius: 32px;
	    padding: 16px 48px;
	    text-transform: uppercase;
	}
}
.btn-success {
    color: #fff;
    background-color: $verde;
    border-color: $verde-hover;

    &:hover,
	&:focus,
	&:active,
	&:hover:focus  {
		color: #fff;
	    background-color: $verde-hover;
	    border-color: $verde-hover;
	}
}

/* BS Edit */
.navbar-default {
	border: none;
	background-color: $rojo;
	border-radius: 0;

	.navbar-nav {

		li {
			margin-right: 15px;

			a {
				color: $blanco;
				text-transform: uppercase;

				&:hover,
				&:focus,
				&:active,
				&:hover:focus  {
					color: $blanco;
				}
			}

			&.active a,
			a:hover,
			a:focus,
			a:active,
			a:hover:focus {
				color: $blanco;
				background-color: $acento;
				padding-top: 5px;
			    padding-bottom: 5px;
			    margin-top: 10px;
			    margin-bottom: 15px;
			    border-radius: 15px;
			    color: $hover;
			}

			&.active {
			    a:hover,
				a:focus,
				a:active,
				a:hover:focus {
					color: $blanco;
					background-color: $acento;
					padding-top: 5px;
				    padding-bottom: 5px;
				    margin-top: 10px;
				    margin-bottom: 15px;
				    border-radius: 15px;
				    color: $hover;
				}
			}
		}
	}
	.navbar-brand {
		color: $blanco;
		font-weight: 700;
		display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    margin-top: 2px;

		&__icon {
	    display: block;
	    width: 45px;
    	height: 45px;
	    overflow: hidden;
	    border: 5px solid $gris;
	    background-color: $blanco;
	    border-radius: 50%;
	    margin-right: 10px;
		}

		&:hover,
		&:focus,
		&:active,
		&:hover:focus  {
			color: $acento;
		}
	}
}