.header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $azul;
    color: $blanco;

	.round-image {
		overflow: hidden;
		width: 350px;
		height: 350px;
		border: 10px solid $gris;
		border-radius: 50%;
		background-color: $blanco;
		margin: 0 auto;

	    &__img {
		    width: 100%;
		    display: block;
		    margin-top: 50px;
		}
	}

	.social {
		text-align: center;
		margin-top: 60px;

		@mixin social-icon($social) {
		  height: 50px;
		  width: 50px;
		  background-image: url($social);
		  background-size: cover;
		  background-repeat: no-repeat;
		  display: inline-block;
		  background-color: #fff;
		}
		&__link {
			&--facebook {
				@include social-icon("../img/facebook.png");
			}
			&--twitter {
				@include social-icon("../img/twitter.png");
			}
			&--googleplus {
				@include social-icon("../img/google-plus.png");
			}
			&--pinterest {
				@include social-icon("../img/pinterest.png");
			}
			&--behance {
				@include social-icon("../img/behance.png");
			}
			&--dribbble {
				@include social-icon("../img/dribbble.png");
			}
		}
	}
}

.skills {
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gris;
}

.footer {
	background-color: $negro;
	padding: 30px 0;
	color: $gris;
}