.header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $azul;
    color: $blanco;

	.round-image {
		overflow: hidden;
		width: 350px;
		height: 350px;
		border: 10px solid $gris;
		border-radius: 50%;
		background-color: $blanco;
		margin: 0 auto;

	    &__img {
		    width: 100%;
		    display: block;
		    margin-top: 50px;
		}
	}
}