@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D4059;
  color: #fff; }
  .header .round-image {
    overflow: hidden;
    width: 350px;
    height: 350px;
    border: 10px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto; }
    .header .round-image__img {
      width: 100%;
      display: block;
      margin-top: 50px; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', Courier, monospace; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3.5rem; }

h4 {
  font-size: 2.7rem; }

.btn.btn-lg {
  border-radius: 32px;
  padding: 16px 48px;
  text-transform: uppercase; }

.btn-success {
  color: #fff;
  background-color: #4CC18E;
  border-color: #418366; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:hover:focus {
    color: #fff;
    background-color: #418366;
    border-color: #418366; }

/* BS Edit */
.navbar-default {
  border: none;
  background-color: #EA5455;
  border-radius: 0; }
  .navbar-default .navbar-nav li {
    margin-right: 15px; }
    .navbar-default .navbar-nav li a {
      color: #fff;
      text-transform: uppercase; }
      .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:hover:focus {
        color: #fff; }
    .navbar-default .navbar-nav li.active a,
    .navbar-default .navbar-nav li a:hover,
    .navbar-default .navbar-nav li a:focus,
    .navbar-default .navbar-nav li a:active,
    .navbar-default .navbar-nav li a:hover:focus {
      color: #fff;
      background-color: #FFD460;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 15px;
      color: #F07B3F; }
    .navbar-default .navbar-nav li.active a:hover,
    .navbar-default .navbar-nav li.active a:focus,
    .navbar-default .navbar-nav li.active a:active,
    .navbar-default .navbar-nav li.active a:hover:focus {
      color: #fff;
      background-color: #FFD460;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 15px;
      color: #F07B3F; }
  .navbar-default .navbar-brand {
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px; }
    .navbar-default .navbar-brand__icon {
      display: block;
      width: 45px;
      height: 45px;
      overflow: hidden;
      border: 5px solid #ddd;
      background-color: #fff;
      border-radius: 50%;
      margin-right: 10px; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:hover:focus {
      color: #FFD460; }

/*# sourceMappingURL=main.css.map */
